
	<div>
		<br>
        <label for="title">Workout Title:</label>
		<input type="text" id="workout-title" name="title" value="">
	</div><br>

    <div id="exercise-search">
        What exercise do you want to do? (case and space sensitive)
        <br>
        <input type="text" id="exercise-query" name="exercc" value="">
        <input type="button" id="search-exercise" value="Add Exercise!">
    </div>
    <br>

    <div id="exercise-list">
    </div>



    <br><br><br>

<form method="POST" action="">
	<div>
		<input type="submit" id="finish-workout" value="Finish workout!">
	</div>
</form>
<script defer src="../javascripts/index.js"></script>